*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    background: #7dbaf3;
    display: flex;
    padding-top: 3rem;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-items: center; */
}

.add{
    background: #9eca62;
    color: white;
    border: none;
    border-radius: 3px;
    padding: .5rem 1rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;

}
.notes{
    background: #fff;
    width: 400px;
    height: 400px;
    margin:30px 20px;

    box-shadow: 0 0 10px 4px rgba(0, 0, 0, .1);
}
.tools{
    background: #9eca62;
    padding: .5rem;
    display: flex;
    justify-content: flex-end;
}
.tools button{
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 1rem;
}
.main-content{
    display: none;
    width: 100%;
    height: 100%;
    background: #d7e6c3;
    padding: 2rem;
    font-size: 1.2rem;
}
.notes textarea{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-family: inherit;
    padding:  1rem 2rem;
    font-size: 1.2rem;
}
textarea.hidden{
    display: none;  
}
.hide{
    display: none;
}
.done{
    display: block;
}
.main-content.hidden{
    display: block;
}


